<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>

<h2>Admin page</h2>

<p>Welcome, <span th:text="${user.name}"></span>!</p>

<h3>All Users</h3>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Role</th>
        <th>Operations</th>
    </tr>
    <tr th:each="u : ${users}">
        <td th:text="${u.name}"></td>
        <td th:text="${u.surname}"></td>
        <td th:text="${u.email}"></td>
        <td th:text="${u.role}"></td>
        <td>
            <input type="button" value="Update"
                   th:onclick="'window.location.href=\'/admin/updateInfo?id=' + ${u.id} + '\';'"/>
            <input type="button" value="Delete"
                   th:onclick="'window.location.href=\'/admin/deleteUser?id=' + ${u.id} + '\';'"/>
        </td>
    </tr>
</table>

<br>
<input type="button" value="Add User" th:onclick="'window.location.href=\'/admin/addNewUser\';'"/>

<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>